//Fonts
@import "custom/fonts/fonts";
 
//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables-dark";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";

// Components
@import "custom/components/waves";
@import "custom/components/avatar";
@import "custom/components/helper";
@import "custom/components/preloader";
@import "custom/components/forms";
@import "custom/components/widgets";
@import "custom/components/dashboard";
@import "custom/components/gettingStarted";

// Plugins
@import "custom/plugins/custom-scrollbar";
@import "custom/plugins/cropperjs";
@import "custom/plugins/parsley";
@import "custom/plugins/switch";
@import "custom/plugins/timepicker";

// Pages
@import "custom/pages/authentication";

// Pages
@import "custom/pages/authentication";

// button bar
.button__bar__border_right {
  border-right: solid 1px;
}

.stack__view {
  border: 1px solid $gray-400;
  margin: 0px;
  transition:visibility 1s linear,opacity 0.3s linear;
  .key {
    background-color: #2a3042;
    padding-left: 10px;
    padding-top: 10px;
  }
  .child {
    padding-left: 40px;
  }
  .value {
    background-color: #32394e;
    padding-top: 10px;
    padding-left: 15px;
  }
}

.app_info{
  color:$info;
}

.app_success{
  color: $success;
}

.app_warning{
  color: $warning;
}

.app_danger{
  color: $danger;
}

.app_primary{
  color: $primary;
}

.app_secondary{
  color:$gray-800;
}

// upload license
.upload__form {
  display: flex;
  width: calc(100% - 20px);
  min-height: 250px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .upload__icon {
    padding-bottom: 5px;
    text-align: center;
    color: white;
  }
  .details {
    padding: 20px;
    width: 100%;
  }
  .label {
    cursor: pointer;
  }
  .upload__success__info {
    padding-top: 15px;
    color: $green;
    width: 100%;
    text-align: center;
  }
}

.upload__init, .upload__uploading, .upload__validating  {
  border: 1px dashed white;
}
.upload__success {    
  border: 1px dashed $green;
}
.upload__error {
  color: $red;
  border: 1px dashed $red;
}

.text-danger-1 {
  color: #c0392b;
}

.text-danger-2 {
  color: #e74c3c;
}

.text-warning-1 {
  color: #f1c40f;
}

.text-warning-2 {
  color: #f39c12;
}

.text-white {
 color: white;
}

// upload license
.upload__script__form {
  display: flex;
  width: calc(100% - 20px);
  min-height: 100px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .upload__icon {
    padding-bottom: 5px;
    text-align: center;
    color: white;
  }
}

.max-w-170 {
  max-width: 170px;
}

.renderIPField-table {
  text-align: center;
 vertical-align: middle;
}

@mixin min-Height($val) {
    min-height: $val;
}

@mixin max-Height($val) {
  max-height: $val;
}

.min-h-100 {
 @include min-Height(100px);
}

.max-h-230 {
 @include max-Height(230px);
}

.max-h-250 {
  @include max-Height(250px);
}

.min-h-365 {
  @include min-Height(365px);
}

.min-h-190 {
  @include min-Height(190px);
}

.min-h-188 {
  @include min-Height(188px);
}

.text-transformation-C {
  text-transform: capital;
}

.drop-down-menu-color {
  color: $gray-500;
  &:hover {
    color: $gray-600;
  }
}

.color-white {
  color: $white;
}

.cursor-pointer {
  cursor: pointer;
}

.h-20{
  height: 20px;
}

.max-h-350{
  max-height: 350px;
}

.max-h-400{
  max-height: 400px;
}

.width-100{
  width: 100%;
}

.modal-lic-upload{
  visibility: 'none';
   display: 'none'
}

.show-password{
  height: 16;
   width: 16
}

.stackview-icon{
  height: 20px;
}

.dmtooltip{
  min-width: 200px;
  max-width: 350px;
}

.vmware-search-box{
  min-width: 200px;
}

.dmtree_scrollbar{
  max-height: 100vh; 
  min-height: 100vh; 
  background: #2e3548
}

.dmtree-selectedvm-scrollbar{
  max-height: 100vh;
  min-height: 100vh;
}

.icon_font{
  font-size: 16px
}

.protectedvm-icon{
  font-size: 14px;
}

.vmware_placement_info{
  text-decoration: underline;
   display: flex
}

.vmware_placement_info_p{
  font-size: 12px;
  margin-right: 10px
}

.dmapi_col{
  min-width: 200px;
}

.sidebar-height{
  max-height: 100%;
}

.instance_memory_p{
  min-width: 5px;
   padding-top: 7px
}

.confirmation_modal_msg{
  margin: auto
}

.modal_location_simplebar{
max-height: 600px;  
}

.modal_nic_simplbar{
  max-height: 400px;
}

.roles_simplebar{
min-height: 55vh;
max-height: 55vh;
}

.dm_table_th{
  width: 10px;
}

.vmnetwork_info{
  text-decoration: underline;
}

.form_w{
  width: 100%;
}