//Fonts
@import "custom/fonts/fonts";
 
//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables-dark";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";

// Components
@import "custom/components/waves";
@import "custom/components/avatar";
@import "custom/components/helper";
@import "custom/components/preloader";
@import "custom/components/forms";
@import "custom/components/widgets";
@import "custom/components/dashboard";

// Plugins
@import "custom/plugins/custom-scrollbar";
@import "custom/plugins/cropperjs";
@import "custom/plugins/parsley";
@import "custom/plugins/switch";
@import "custom/plugins/timepicker";

// Pages
@import "custom/pages/authentication";

// Pages
@import "custom/pages/authentication";

// button bar
.button__bar__border_right {
  border-right: solid 2px;
}

.stack__view {
  border: 1px solid $gray-400;
  margin: 0px;
  transition:visibility 1s linear,opacity 0.3s linear;
  .key {
    background-color: #2a3042;
    padding-left: 10px;
    padding-top: 10px;
  }
  .child {
    padding-left: 40px;
  }
  .value {
    background-color: #32394e;
    padding-top: 10px;
    padding-left: 15px;
  }
}