@import "./icons.scss";

// Light Theme
//@import "./bootstrap.scss";
//@import "./app.scss";

// Dark Theme
@import "./bootstrap-dark.scss";
@import "./app-dark.scss";

// RTL Mode
// @import "./bootstrap.scss";
// @import "./app-rtl.scss";

#sidebar-menu {
  ul {
    li {
      a {
        i {
          min-width: 2rem;
        }
      }
    }
  }
}
.noti-icon .badge {
  left: 23px;
}
.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 30px;
}
// kanban board
.fcYNFc,
.sc-AxmLO.gmtmqV {
  background-color: $card-bg !important;
  margin: 0 20px 0 0 !important;
}
.task-box {
  border: 1px solid $border-color;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.ReactModal__Overlay {
  z-index: 1001 !important;
}
.chat-conversation .right .conversation-list {
  margin-right: 15px;
}
.external-event {
  &:hover {
    cursor: pointer;
  }
}
a:hover {
  cursor: pointer;
}
.rating-container {
  background-color: transparent !important;
}
.input-group-append {
  z-index: 0;
}
.input-color {
  color: $input-color !important;
}
.sketch-picker {
  position: absolute;
  z-index: 1;
}
.rangeslider__fill {
  background-color: $primary !important;
}

// .custom-control-input {
//   position: absolute !important;
//   left: 0 !important;
//   z-index: -1 !important;
//   width: 1rem !important;
//   height: 1.10938rem !important;
//   opacity: 0 !important;
// }

.flatpickr-months .flatpickr-month {
  background: $primary !important;
}
.flatpickr-weekdays {
  background: $primary !important;
}
span.flatpickr-weekday {
  background: $primary !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: $primary !important;
}
span.flatpickr-weekday {
  color: $white !important;
}
.flatpickr-day.selected {
  background: $primary !important;
}

.bs-select select {
  width: auto !important;
}

.message__notification__container {
  position: fixed;
  top: 10px;
  right: 1%;
  width: 600px;
  margin-left: -300px;
  transform-style: preserve-3d;
  z-index: 10001;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-left 0.7s;
}

@keyframes toast-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.dmtable-checkbox {
  width: 50px;
}
.padding-20 {
  padding: 20px;
}
.noPadding {
  padding: 0px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}

.modal-footer {
  padding: 0.25rem;
}
.modal-header {
  padding: 0.55rem;
}
.modal-card-body {
  padding-bottom: 0.25px;
}

.confirmation-icon {
  font-size: xxx-large;
}

// Ripple
.ripple__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 18%;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10000;
}
.ripple__box {
  padding: 10px;
  background-color:#222736;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__soft__bg {
  background-color: #222736;
}