// 
// _card.scss
// 

.card {
  margin-bottom: $grid-gutter-width;
  // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}
.progress, .progress-stacked{
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1) ;
  // border: 1px solid #f0f0f0;
}

.card-drop {
  color: var(--#{$prefix}body-color);
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
  color:  var(--#{$prefix}body-color);
}

.card-title-desc {
  color: var(--#{$prefix}secondary-color);
  margin-bottom: 24px;
}

.card_note_info{
  color: $green;
}

.card_note_warning{
  color: var(--warning-color);
}
.card_note_error{
  color:$red;
}

.card_node{
  position: relative;
  top: -5px;
  font-size: 11px;
  line-height: 145%;
}

.rec_warn_text{
  position: relative;
  top: -12px;
}

.box-shadow{
  box-shadow:  1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.card-header{
  box-shadow: var(--card-header-box-shadow);
}
.bg-light{
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  background-color: var(--#{$prefix}secondary-bg) !important;
}