//
// _card.scss 
//

.card {
  margin-bottom: $grid-gutter-width;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 8px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  // color: $card-title-desc;
  color: #74788d;
  margin-bottom: 24px;
}

.card_note-backgrd{
  background-color: $sidebar-dark-bg;
}

.card_note_info{
  color: $green;
}

.card_note_warning{
  color:$yellow;
}
.card_note_error{
  color:$red;
}

.card_node{
  position: relative;
  top: -5px;
  font-size: 11px;
  line-height: 145%;
}

.rec_warn_text{
  position: relative;
  top: -12px;
}