//
// Forms.scss 
//

.form-check-input[type="radio"] {
  margin-right: 0.4rem;
  border: 1px solid gray;
}

.form-check-input[type="checkbox"] {
  border: 1px solid gray;
}


.form-check-input{
  &:checked {
    background-color: var(--loader-dot-color) !important;
    border-color: var(--loader-dot-color) !important;
  }
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f46a6a' viewBox='0 0 16 16'%3e%3cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control {
  // background-color: var(--#{$prefix}input-bg-color) !important;
  background-clip: padding-box;
  border-radius: .25rem;
  display: block;
  font-size: .8125rem;
  font-weight: 400;
  height: calc(1.5em + .94rem + 2px);
  line-height: 1.5;
  padding: .47rem .75rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  // color: var(--#{$prefix}secondary-color);
}

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: 1.25rem;
  .form-check-input {
    right: 0;
    margin-left: 0;
  }

  .form-check-label {
    display: block;
  }
}

.custom-control-right {
  padding-left: 0;
  padding-right: 1.5rem;
  display: inline-block;
  .custom-control-label {
    display: inline-block;
    &:before,
    &:after {
      left: auto;
      right: -1.5rem;
    }
  }

  .custom-control-input {
    left: auto;
  }
}

// checkbox

.custom-checkbox-outline {
  .custom-control-label::before {
    border-width: 2px;
  }

  .custom-control-input {
    &:checked ~ .custom-control-label {
      &:after {
        background-image: none;
        content: "\F012C";
        font-family: "Material Design Icons";
        font-size: 20px;
        top: -8px;
        left: -22px;
      }

      &:before {
        background-color: transparent !important;
      }
    }
  }
}

// radio

.custom-radio-outline {
  .custom-control-label::before {
    border-width: 2px;
  }

  .custom-control-input {
    &:checked ~ .custom-control-label {
      &:after {
        background-image: none;
        content: "\F0765";
        font-family: "Material Design Icons";
        font-size: 8px;
        top: 4px;
        left: -20px;
      }

      &:before {
        background-color: transparent !important;
      }
    }
  }
}

// checkbox color

@each $color, $value in $theme-colors {
  .custom-checkbox-#{$color},
  .custom-radio-#{$color} {
    .custom-control-input {
    &:checked ~ .custom-control-label:before {
        background-color: $value;
        border-color: $value;
      }
    }
  }

  .custom-radio-outline {
    &.custom-radio-#{$color} {
      .custom-control-input {
        &:checked ~ .custom-control-label:after {
          color: $value;
        }
      }
    }
  }
}



.custom-checkbox-dark,
.custom-radio-dark {
  .custom-control-input {
    &:checked ~ .custom-control-label:before {
      color: $dark;
    }
  }
}

.custom-control-label {
  cursor: pointer;
}

// Switch sizes

.custom-switch-md {
  padding-left: 3rem;
  .custom-control-label {
    line-height: 20px;
    &:before {
      width: 40px;
      height: 20px;
      border-radius: 30px;
      left: -3rem;
    }
    &:after {
      width: calc(20px - 4px);
      height: calc(20px - 4px);
      left: calc(-3rem + 2px);
    }
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.25rem);
  }
}

.custom-switch-lg {
  padding-left: 3.75rem;
  .custom-control-label {
    line-height: 24px;
    &:before {
      width: 48px;
      height: 24px;
      border-radius: 30px;
      left: -3.75rem;
    }
    &:after {
      width: calc(24px - 4px);
      height: calc(24px - 4px);
      left: calc(-3.75rem + 2px);
      border-radius: 50%;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.5rem);
  }
}

.custom-control-label::before {
  background-color: $input-bg;
}
.custom-select option :hover{
  background-color: beige;
}



.flex__form_horizontal {
  width: 100%;
  display: flex;
  padding-left: 15px;
  max-width: 750px;
  flex-direction: column;
  .form__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    .form__label {
      width: 40%;
    }
    .form__input {
      width: 60%;
      display: flex;
      flex-direction: row;
    }
  }
}


.form__direction__reverse {
  flex-direction: row-reverse;
}

.progress_step_border{
  border-left: 1px solid grey; 
}

.rec_step_list{
  position: relative;
  top: -35px;
  left: -6px;
  margin-bottom: 0px;
}

.checkbox_disabled{
  opacity: 0.1; 
}
.custom-control {
  z-index: 0;
}
.pending_detailed_step_div{
  position: relative;
  top: -30px;
  left: 20px;
  font-size: 11px;
}

.wizard-ref-rec-status{
  font-size: 9px;
  position: relative;
  left: 15px;
  top:-10px
}

select.form-select {
  --bs-form-select-bg-icon: none !important;
}

select,
input[type="checkbox"],
input[type="radio"]
 {
  cursor: pointer !important;
}