/* =============
   General 
============= */

html {
  position: relative;
  min-height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-700;
}

a {
  text-decoration: none !important;
}

label {
  font-weight: 500;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid $gray-300;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $gray-300;
  text-align: right;
}

.tree-parent{
  background-color:#2e3548;
}

.tree{
    margin-bottom:2px;
    background-color:#2e3548;
    border-radius: 15px;
}

.treestart li{
  list-style-type:none;
  margin-bottom:10px;
  background-color:#2e3548;
}

.tree li {
  list-style-type:none;
  margin:0;
  padding:5px 0 0px;
  position:relative;
  left: -25px;
}

.tree_node_p{
  font-size: 14px;
  font-weight: 100;
  width: 400px;
}

.treeDiv{
  display: flex;
  min-width: 300px;
}

.selectedvm-div{
  padding:18px 10px;
  text-align: left;
  background-color:#2e3548;
  border-radius: 5px;
 width: 300px; 
}

.selectedvm-div p{
  list-style-type:none;
  text-decoration: none;
  font-size: 12px;
  text-align: left;
  justify-content: center;
  margin:0px 0px 2px 15px;
padding: 0px 3px 3px 10px;
  
}

.selectedvm-div>p{
  font-size: 13px;
padding-left:10px;
  text-align: left;
  margin: 0px;
}

.selectedvm-row{
  width: 790px;
  min-height: 290px;
   background-color: #2e3548;
    margin: 10px 0px;
}

.max-w-170 {
  max-width: 170px;
}

.render-ipfield-table {
  text-align: center;
 vertical-align: middle;
}

@mixin min-Height($val) {
    min-height: $val;
}

@mixin max-Height($val) {
  max-height: $val;
}

.min-h-100 {
 @include min-Height(100px);
}

.max-h-230 {
 @include max-Height(230px);
}

.max-h-250 {
  @include max-Height(250px);
}

.min-h-365 {
  @include min-Height(365px);
}

.min-h-190 {
  @include min-Height(190px);
}

.min-h-188 {
  @include min-Height(188px);
}

.text-transformation-C {
  text-transform: capital;
}

.drop-down-menu-color {
  color: $gray-500;
  &:hover {
    color: $gray-600;
  }
}

.color-white {
  color: $white;
}

.cursor-pointer {
  cursor: pointer;
}

.h-20{
  height: 20px;
}

.max-h-350{
  max-height: 350px;
}

.max-h-400{
  max-height: 400px;
}

.width-100{
  width: 100%;
}

.modal-lic-upload{
  visibility: hidden;
   display: none;
}

.show-password{
  height: 16;
   width: 16
}

.stackview-icon{
  height: 20px;
}

.dmtooltip{
  min-width: 200px;
  max-width: 350px;
}

.vmware-search-box{
  min-width: 200px;
}

.dmtree_scrollbar{
  max-height: 53vh; 
  min-height: 53vh; 
  background: #2e3548
}

.dmtree-selectedvm-scrollbar{
  max-height: 46vh;
  min-height: 46vh
}

.icon_font{
  font-size: 16px
}

.protectedvm-icon{
  font-size: 14px;
}

.vmware_placement_info{
  text-decoration: underline;
   display: flex
}

.vmware_placement_info_p{
  font-size: 12px;
  margin-right: 10px
}

.dmapi_col{
  min-width: 200px;
}

.sidebar-height{
  max-height: 100%;
}

.instance_memory_p{
  min-width: 5px;
   padding-top: 7px
}

.confirmation_modal_msg{
  margin: auto
}

.modal_location_simplebar{
max-height: 600px;  
}

.modal_nic_simplbar{
  max-height: 400px;
}

.roles_simplebar{
min-height: 55vh;
max-height: 55vh;
}

.dm_table_th{
  width: 10px;
}

.vmnetwork_info{
  text-decoration: underline;
}

.form_w{
  width: 100%;
}

.paginator_input_div{
  width: 50%;
  border-color: $gray-600;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paginator_input{
  display: flex;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-300;
    border: none ;
    background-color: $gray-500;
    outline: none;
    text-align: right;
}

.dmaipaginator_totalpage{
  width: 50%;
  border-color: $gray-600;
}

.totalpag_text{
  position: relative;
  top:8px;
}
.modal_node{
  width: 510px;
}
.nic_modal_Width{
  width: 490px;
}

.remove_checkbox{
  display: inline-block;
}

.remove_text{
  color: #f1b44c;
}

.remove-sign_icon{
  position: relative;
  top: -4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 4px;
}
.input_div{
  background-color: $gray-500;
  max-width: 100px !important;
}


.folderSelection{
  background-color: $card-bg;
  border-radius: 3px;
}

.link_color{
  color: $blue;
  cursor: pointer;
}

.rec_job_parent{
  min-width: 240px;

}
