/* =============
   General 
============= */

html {
  position: relative;
  min-height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-700;
}

a {
  text-decoration: none !important;
}

label {
  font-weight: 500;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid $gray-300;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $gray-300;
  text-align: right;
}

.tree-parent{
  background-color:#2e3548;
}

.tree{
    margin-bottom:2px;
    background-color:#2e3548;
    border-radius: 15px;
}

.treestart li{
  list-style-type:none;
  margin-bottom:10px;
  background-color:#2e3548;
}

.tree li {
  list-style-type:none;
  margin:0;
  padding:5px 0 0px;
  position:relative;
  left: -15px;
}
.tree li::before, .tree li::after {
  content:'';
  left:-15px;//imp
  position:absolute;
  right:auto
}
.tree li::before {
  border-left:1px double rgb(252, 248, 248);
  bottom:5px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:1px double rgb(252, 248, 248);
  height:30px;
  top:13px;
  width:16px
}
.tree li span {
  border:1px double rgb(252, 248, 248);
  display:inline-block;
  padding:3px 8px;
  text-decoration:none
}
.tree li.parent_li>span {
  cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:13px;//imp
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
  background:#eee;
  border:1px solid #eceff4;
  color:rgb(247, 242, 242)
}

.tree_node_p{
  font-size: 14px;
  font-weight: 100;
  width: 400px;
}

.treeDiv{
  display: flex;
  min-width: 300px;
}

.selectedvm-div{
  padding:18px 10px;
  text-align: left;
  background-color:#2e3548;
  border-radius: 5px;
 width: 300px; 
}

.selectedvm-div p{
  list-style-type:none;
  text-decoration: none;
  font-size: 12px;
  text-align: left;
  justify-content: center;
  margin:0px 0px 2px 15px;
padding: 0px 3px 3px 10px;
  
}

.selectedvm-div>p{
  font-size: 13px;
padding-left:10px;
  text-align: left;
  margin: 0px;
}

.selectedvm-row{
  width: 790px;
  min-height: 290px;
   background-color: #2e3548;
    margin: 10px 0px;
}