//
// Widgets.scss 
//

.mini-stats-wid {
  .mini-stat-icon {
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 54px;
      // background-color: rgba($white, 0.1);
      left: 16px;
      transform: rotate(32deg);
      top: -5px;
      transition: all 0.4s;
    }

    &::after {
      left: -12px;
      width: 12px;
      transition: all 0.2s;
    }
  }

  &:hover {
    .mini-stat-icon {
      &::after {
        left: 60px;
      }
    }
  }
}

.resync_modal_height {
  max-height: 64vh;
  min-height: 40vh;

  @media (max-height: 902px) {
    max-height: 65vh;
  }

  @media (max-height: 775px) {
    max-height: 62vh;
  }

  @media (max-height: 635px) {
    max-height: 55vh;
  }
}

.resync_font_size {
  @media (max-width: 1199px) {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  .adj_wizard_length {
    min-width: 90%;
  }
}