body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: scroll;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: gray;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
} 

.wrapper {
  display: flex;
  flex-direction: row;
  width: 98vw;
  padding: 10px;
  overflow: auto; 
  
}
.content {
  flex: 1 1 auto;
  padding:10px;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 950px;
}
.sidebar {
  /* background-color: gray; */
  flex: 0 1 250px; 
  display: flex;
  padding: 15px;
}

table {
  width: 100%;
  margin: 0;
}
td {
  border: 1px solid black;
  margin: 0px;
  text-align: left;
  padding-left: 10px;
}

input {
  padding-left: 15px;
}
