//
// _card.scss 
//

.card {
  margin-bottom: $grid-gutter-width;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 8px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  // color: $card-title-desc;
  color: #74788d;
  margin-bottom: 20px;
}

.card_note-backgrd{
  background-color: $sidebar-dark-bg;
}

.card_note_info{
  color: $green;
}

.card_note_warning{
  color:$yellow;
}
.card_note_error{
  color:$red;
}

.card_node{
  position: relative;
  top: -5px;
  font-size: 11px;
  line-height: 145%;
}

.rec_warn_text{
  position: relative;
  top: -12px;
}
.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  // Workaround for the image size bug in IE
  // See: https://github.com/twbs/bootstrap/pull/28855
  min-height: 1px;
  padding: 1rem;
  color: $card-color;
}