@import "./icons.scss";
@import "./tool-tip.scss";
// @import "./bootstrap-dark.scss";
// @import "./app-dark.scss";
@import "react-datepicker/dist/react-datepicker.css";

@import "./bootstrap.scss";
@import "./app.scss";
// @import "./bootstrap-dark.scss";
// @import "./app-dark.scss";
// @import "./variables";
@import "./root";

#sidebar-menu {
  ul {
    li {
      a {
        i {
          min-width: 2rem;
        }
      }
    }
  }
}
.noti-icon .badge {
  left: 23px;
}
.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.rdw-editor-main {
  border: 1px solid var(--#{$prefix}gray-300);
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 30px;
}
// kanban board
.fcYNFc,
.sc-AxmLO.gmtmqV {
  background-color: $card-bg !important;
  margin: 0 20px 0 0 !important;
}
.task-box {
  border: 1px solid $border-color;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.ReactModal__Overlay {
  z-index: 1001 !important;
}
.chat-conversation .right .conversation-list {
  margin-right: 15px;
}
.external-event {
  &:hover {
    cursor: pointer;
  }
}
a:hover {
  cursor: pointer;
}
.rating-container {
  background-color: transparent !important;
}
.input-group-append {
  z-index: 0;
}
.input-color {
  color: $input-color !important;
}
.sketch-picker {
  position: absolute;
  z-index: 1;
}
.rangeslider__fill {
  background-color: $primary !important;
}

// .custom-control-input {
//   position: absolute !important;
//   left: 0 !important;
//   z-index: -1 !important;
//   width: 1rem !important;
//   height: 1.10938rem !important;
//   opacity: 0 !important;
// }

.flatpickr-months .flatpickr-month {
  background: $primary !important;
}
.flatpickr-weekdays {
  background: $primary !important;
}
span.flatpickr-weekday {
  background: $primary !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: $primary !important;
}
span.flatpickr-weekday {
  color: $white !important;
}
.flatpickr-day.selected {
  background: $primary !important;
}

.bs-select select {
  width: auto !important;
}

.message__notification__container {
  position: fixed;
  top: 10px;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 10010;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-top 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm__message {
  min-width: 600px;
  max-width: 600px;
}

@keyframes toast-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.dmtable-checkbox {
  width: 50px;
}
.padding-20 {
  padding: 20px;
}
.noPadding {
  padding: 0px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}

.modal-footer {
  padding: 0.25rem;
}
.modal-header {
  padding: 0.55rem;
}
.modal-card-body {
  padding-bottom: 0.25px;
}
.unfocused{
  color: $cbt-unfocused-text;
  font-size: 0.75rem;
}

.confirmation-icon {
  font-size: xxx-large;
}

// Ripple
.ripple__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 18%;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10000;
}
.ripple__box {
  padding: 10px;
  background-color:var(--#{$prefix}body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__soft__bg {
  background-color: var(--#{$prefix}body-bg);
}



.table tbody th {
  font-weight: 400;
}

// .table tbody tr:hover {background-color:var(--#{$prefix}body-bg)}

.stack__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  .lable {
    font-size: 14px;
    font-weight: 600;
  }
  .value {
    font-size: 14px;
    font-weight: 200;
    text-align: right;
  }

  .line {
    height: 200px;
    margin-left: 50%;
    border: 1px solid var(--#{$prefix}body-bg);
  }
}

.fa-s-sm {
  font-size: 14px;
}
.fa-s-lg {
  font-size: 20px;
}
.fa-s-xlg {
  font-size: 25px;
}
.dmtable-body {
  max-width: 400px;
  width: 100%;
}
.logo-name-size{
  width: 180px;
}

.logo-size{
  width: 30px;
}

.title-color {
  font-weight: 400;
}

.dataMove {
  width: 10px;
  height: 10px;
  position: relative;
  animation: mymove 3s infinite;
  margin-left: 2px;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: calc(100%)}
}

.display__flex__reverse {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-flow: row-reverse;
}


.login{
  .logo{
  margin-top: -50%;
  }

  .sign-up{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: -30px;
  }

  .logo__name{
    margin-top: -40px;
  }

  .dmname{
      margin-left: 80px;
      margin-top: -75px;  
  }
}

// global variable for padding
@for $i from 0 through 30 {
  .padding-#{$i} {
    padding: $i + px
  }
  .padding-left-#{$i} {
   padding-left: $i + px;
  }
  .padding-right-#{$i} {
    padding-right: $i + px;
   }
   .padding-top-#{$i} {
    padding-top: $i + px;
   }
   .padding-bottom-#{$i} {
    padding-bottom: $i + px;
   }
}
// global variable for margin
@for $i from 0 through 30 {
  .margin-#{$i} {
    margin: $i + px
  } 
  .margin-left-#{$i} {
    margin-left: $i + px;
  }
  .margin-right-#{$i} {
    margin-right: $i + px;
   }
   .margin-top-#{$i} {
    margin-top: $i + px;
   }
   .margin-bottom-#{$i} {
    margin-bottom: $i + px;
   }
}

.logo-name-size{
  width: 180px;
}

.logo-size{
  width: 40px;
}

.loginshowpass{
  position: absolute;
  right: 6%;
  top: 64%;
}

.field-icon{
  position: relative;
  float: right;
  top: -25px;
  right: 10px;
  height: 0;
}

.field-icon-focused{
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.login-icon{
  position: relative;
  bottom: 218px;
  right: 44px;
}

.app_critical{
  color: $orange;
}

.search__icon:hover {
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.report__content {
  width: 100%;
  min-height: calc(100% - 30px);
  .no__data {
    top: 50%;
    left: 40%;
    font-size: larger;
    position: absolute;
    text-align: center;
  }
  .data {
    background-color: white;
  }
}

.rpt__system__overview {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  .title__cards {
    text-align: left;
  }
  .title__values {
    text-align: left;
  }
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
  }
}



.progress span {
  position:absolute;
  width:100%;
  text-align:center;
  z-index:2;
  margin-top: 2px;
}

.itemRendererContainer {
  height: 100%;
  padding: 0.5rem;
}

.info__container {
  position: relative;
  min-height: 15px;
  height: 100%;
  width: 2px;
  margin: auto;
  .info__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.icon__warning {
   color:var(--warning-color) !important;
}

.cbt_icon__warning {
   color:var(--warning-color) !important;
  font-size: 10px;
}

.dm__progress__bar {
  min-height: 12px;
}

.selected_role {
  background-color: var(--#{$prefix}table-hover-bg) !important;
}

.dropdown__col__filter {
  max-height: 37px;
  border-top: 1px solid $input-border-color !important;
  border-right: 1px solid $input-border-color !important;
  border-bottom: 1px solid $input-border-color !important;
}
.graph__dropdown__col__filter {
  max-height: 37px;
  border: 1px solid $input-border-color !important;
}

.summary-container {
  width: calc(100% - 10px);
  padding: 20px 20px;
}


.summary__view {
  margin: 0px;
  transition:visibility 1s linear,opacity 0.3s linear;
  .key {
    background-color: var(--bs-wizard-stack-key-bg);
    border-bottom: 1px solid var(--bs-stack-row-border) !important;
    padding-left: 10px;
    padding-top: 10px;
  }
  .child {
    padding-left: 40px;
  }
  .value {
    background-color: var(--bs-wizard-stack-value-bg);
    border-bottom: 1px solid var(--bs-stack-row-border) !important;
    padding-top: 10px;
    padding-left: 15px;
  }
}

.summary_card {
  background-color: var(--#{$prefix}tertiary-bg) !important;
  padding: 1px;
  margin: 5px;
}
.summary_card__title {
  padding-top: 5px;
  padding: 10px 0px 0px 20px;
}

.test_rec_config{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@keyframes slideInFromTop {
  0% {
   transform: translateX(5%);
   opacity: 0.4;
  }
  100% {
  transform: translateX(0);
  opacity: 1;
  }
}

@keyframes visibles {
  0%{
   transform: translateX(-10%);
   opacity: 0;
  }100%{
   transform: translateX(0);
   opacity: 1;
  }
}

.remove_configured_vm {  
  animation: 0.20s linear 0s 1 slideInFromTop ;
}

.configured_icons{
  animation: 0.30s linear 0s 1 visibles;
}

@keyframes accordianAnimation {
  0%{
   opacity: 0.4;
  }100%{
   opacity: 1;
  }
}


.dmaccordian{
  animation: 0.50s linear 0s 1 accordianAnimation;
}


@media screen and (max-width: 1200px) {
  .test_rec_config{
     display: block;
     width: 100%;
  }
}
.recovery_step_icon{
  font-size: 1.2em;
}

.step_parent_div{
  display: flex;
  height: 100%;
  font-size: 11px;
}

.step_icon_div{
  position: relative;
  top:5px
}

.step_msg_div{
  margin: 5px;
  position: relative;
  left: -12px;
  top: 18px;
  height: 75%;
}

.step_msg_div_data{
  margin: 5px;
  position: relative;
  left: -12px;
  top: 18px;
  height: 90%;
}

.step_msg{
  position: relative;
   top: -20px;
   left: 20px;
}

.step_time{
  position: relative;
  top:-29px;
  left:20px;
}

.progress_list{
  position: relative;
  top:2px;
  left:5px;
  margin-bottom: 19px;
  font-size: 1.2em;
  cursor: pointer;
}

.status_view_prog_icon{
  float: right;
}

.test_summary_icon{
  color: #50a5f1;
}

.recovey_warn_text{
  display: flex;
  width: 100%;
}

.container-display-recovery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// Helper scss
.text-center {
  text-align: center;
}

.horizontal-line {
  border-bottom: $horizontal-line-height $horizontal-line-style $horizontal-line-color;
}
.display__flex__row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.apply_suggested_btn {
  font-size: smaller;
  padding: 4px;
}

.rec_status_error_Div{
  width: 200px;
}
@media (min-width: 600px) and (max-width:899px) {
  .rec_status_error_Div {
    width: 100px;
  }
}

@media (min-width: 900px) {
  .rec_status_error_Div {
      width: 200px;
  }
}

@media (min-width: 1200px) {
  .rec_status_error_Div {
      width: 200px;
  }
}

@media (min-width: 1450px) {
  .rec_status_error_Div {
      width: 370px;
  }
}

@media (min-width:2000) {
  .rec_status_error_Div{
    width: 100%;
  }
}
.rec_ip_validation_div{
  position: relative;
  left: 19px;
  margin-bottom: 10px;
}


.rec_status_error_Div{
  width: 200px;
}
@media (min-width: 600px) and (max-width:899px) {
  .rec_status_error_Div {
    width: 100px;
  }
}

@media (min-width: 900px) {
  .rec_status_error_Div {
      width: 200px;
  }
}

@media (min-width: 1200px) {
  .rec_status_error_Div {
      width: 200px;
  }
}

@media (min-width: 1450px) {
  .rec_status_error_Div {
      width: 370px;
  }
}

@media (min-width:2000) {
  .rec_status_error_Div{
    width: 100%;
  }
}

@media (min-width: 1217px) and (max-width:1329px) {
  .resp_upgrade_link{
    font-size: 0.7rem;
  }
}

.text-wrapper {
  width: 150px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 5px;
}

// button bar
.button__bar__border_right {
  border-right: solid 1px;
}

.stack__view {
  border: 1px solid var(--#{$prefix}stack-row-border);
  margin: 0px;
  transition:visibility 1s linear,opacity 0.3s linear;
  .key {
    background-color: var(--#{$prefix}wizard-stack-key-bg);
    padding-left: 10px;
    padding-top: 10px;
  }
  .child {
    padding-left: 40px;
  }
  .value {
    background-color: var(--#{$prefix}wizard-stack-value-bg);
    padding-top: 10px;
    padding-left: 15px;
  }
}

.app_info{
  color:$info;
}

.app_success{
  color: $success;
}

.app_warning{
  color: $warning;
}

.app_danger{
  color: $danger;
}

.app_primary{
  color: $primary !important;
}

.app_secondary{
  color:var(--#{$prefix}gray-800);
}

// upload license
.upload__form {
  display: flex;
  width: calc(100% - 20px);
  min-height: 250px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .upload__icon {
    padding-bottom: 5px;
    text-align: center;
  }
  .details {
    padding: 20px;
    width: 100%;
  }
  .label {
    cursor: pointer;
  }
  .upload__success__info {
    padding-top: 15px;
    color: $green;
    width: 100%;
    text-align: center;
  }
}

.upload__init, .upload__uploading, .upload__validating  {
  border: 1px dashed var(--#{$prefix}body-color);
}
.upload__success {    
  border: 1px dashed $green;
}
.upload__error {
  color: $red;
  border: 1px dashed $red;
}

.text-danger-1 {
  color: #c0392b;
}

.text-danger-2 {
  color: #e74c3c;
}

.text-warning-1 {
  color: #f1c40f;
}

.text-warning-2 {
  color: #f39c12;
}

.text-white {
 color: var(--#{$prefix}body-color) !important;
}

// upload license
.upload__script__form {
  display: flex;
  width: calc(100% - 20px);
  min-height: 100px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .upload__icon {
    padding-bottom: 5px;
    text-align: center;
    color: var(--#{$prefix}body-color);
  }
}

.card-summary {
  border: 1px solid #000;
  padding: 10px;
  background-color: #222736;
}
.refreshModal {
  height: 60vh;
}

.refresh-modal {
  max-width: 80%;
  width: 80%;
}

.fw-bold{
  font-weight: bold;
}
.unclickable {
  pointer-events: none;
  opacity: 0.8;
}
// Custom alert-variant mixin for Bootstrap 5
@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: $background;

  .alert-link {
    color: shade-color($color, 20%);
  }
  
}

// Alert variants loop using Bootstrap 5's $theme-colors map
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(
      tint-color($value, 70%), // background
      tint-color($value, 70%), // border
      shade-color($value, 60%) // text color
    );
  }
}

.alert-dismissible .close {
  padding: 0.3575rem .25rem !important;
  margin: 0.9rem !important;
}
.fa-spin{
  color:inherit
}
[data-layout-mode=dark] .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

// [data-bs-theme=dark] .card {
//   --bs-card-bg: #2a3042;
// }

[data-bs-theme=dark] .btn-close-white {
  filter: invert(1) grayscale(100%) brightness(0);
}

.apexcharts-tooltip {
  transform: translateX(18%) !important; /* slight side offset */
}
