* {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 10;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}

a:hover:not(.active) {
  background-color: #555;
  color: white;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  display: flex;
  overflow: auto;
  width: 15%;
  flex-direction: column;
  padding: 0.7rem;
  padding-bottom: 25px;
  background: #f1f1f1;
  height: 100%;
  top: 0;
  position: fixed;
}

.content {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: azure;
}

.stack__items {
  display: flex;
  flex-direction: column;
}

ul {
  margin-top: 10px;
}

.stack__items>ul {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

.padding-left-10 {
  padding-left: 10px;
}

.content {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  direction: ltr;
  font-size: 0.85rem;
}

.content>p {
  padding: auto;
}

.content>h2 {
  width: 100%;
  text-align: center;
  color: #333;
}

.center-page {
  padding: 20%;
}

.content>tr, td {
  border: 1px solid gray;
}

.content>table {
  width: 80%;
}

.note {
  font-size: 0.9rem;
  color: brown;
}

table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

thead {
  background-color: gray;
  border: 1px solid;
  font-weight: bolder;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid-key-value {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 2fr;
  border: 1px solid gray;
}

.grid-col-1 {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr;
  border: 1px solid gray;
  text-align: center;
  font-weight: bold;
}

.grid-key-value>.key {
  font-style: normal;
  font-weight: bold;
}

.grid-key-value>.value {
  font-weight: normal;
}