site_name: Datamotive

nav: 
  - User Guide: index.md


theme:
  name: material
  palette:
    primary: blue grey
  logo: assets/favicon.ico
  favicon: assets/favicon.ico
  features:
    - navigation.instant

  extra_css:
      - stylesheets/extra.css
