//Fonts
@import "custom/fonts/fonts";
 
//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/topbar";
@import "custom/structure/vertical";

// Components
@import "custom/components/waves";
@import "custom/components/avatar";
@import "custom/components/forms";

// Plugins
@import "custom/plugins/custom-scrollbar";

.dm-wizard {
  height:600px !important;
}