//
// authentication.scss
//

// authentication home icon 
.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
}

.forgot-container{
  padding-right: 5px;
  text-align: right;
  margin-top: 10px;
}