.idp-container {
  margin: 10px auto;
  padding: 20px;
  background: $body-bg;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.idp > h1, h2 {
  color: #005a99;
}

.idp > a, .button {
  background-color: #005a99;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.idp > a:hover, .button:hover {
  background-color: $info;
}

@media (max-width: 768px) {
  .idp-container {
      padding: 15px;
  }
}

/* Accessibility */
.idp > a, .button {
  font-size: 18px; /* Larger text for better readability */
}