.troubleShoot_nav_heading {
  font-size: 14px;
}
 
.troubleShoot_description_title {
  color: black;
}

.troubleShoot_container {
  min-height: 600px;
  max-height: 600px;
}
 
.troubleshoot_container{
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.troubleshoot_title {
    font-size: 14px;
    font-style: bold;
    padding-bottom: 5px;
}
.troubleshoot_description {
  padding-left: 10px;
}
 
.copy_text {
  border-radius: 2px;
  display: flex;
  width: 50%;
  border: 1px solid var(--bs-table-border-color);
  padding: 5px;
  margin-left: 10px;
  flex-direction: column;
 
  .header {
    border: 1px solid var(--bs-table-border-color);
    width: 100%;
    padding-left: 10px;
    height: 30px;
    padding: 5px;
    background-color: var(--bs-secondary-bg);
    color: var(--bs-secondary-color);
    display: flex;
    justify-content: space-between;
  }
  .copyIcon {
    display: block;
    right: 5px;
    cursor: pointer;
  }
  .data {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bs-table-border-color);
    background-color: var(--bs-secondary-bg);
  }
}

.copy_text_th {
  width:40%;
}